[user]
  name  = naotaka nakane
  email = n.nakane0219@gmail.com
[ui]
  color = true
[init]
  defaultBranch = main
[fetch]
  prune = true
[push]
  default = current
[alias]
  br = branch
  cm = commit -m
  co = checkout
  rs = restore
  st = status
  sw = switch
  swc = switch -c
